@model WebAppProject.Models.User

@{
    ViewData["Title"] = "Details";
}

<!--User Details-->

<h1 class="Page-generic-headline">User Details</h1>



<div class="ManagerOverviewPageWrapper">
    <dl style="height:1200px">
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.EnteranceDate)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.EnteranceDate)
        </dd>
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.PropertyCity)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.PropertyCity)
        </dd>
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.PropertyStreet)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.PropertyStreet)
        </dd>
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.PropertyStreetNumber)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.PropertyStreetNumber)
        </dd>
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "Details-dt">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "Details-dd">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>

<div>
    <a class="create-button" asp-action="Edit" asp-route-id="@Model.UserID">Edit</a>
    <a class="create-button-2" asp-controller="ManagerOverview" asp-action="Index">Back to List</a>
    <a class="create-button-2" asp-action="UserAddressMap" asp-route-id="@Model.UserID">User's Address Map</a><br>
</div>
