@model WebAppProject.Models.WaterTransaction

@{
    ViewData["Title"] = "Details";
}

<!--Water Transaction-->


<h1 class="Page-generic-headline">Water Transaction Details</h1>

<div class="ManagerOverviewPageWrapper">
    <div>
        <dl>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.UserID)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.UserID)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.WaterMeterLastReadDate)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.WaterMeterLastReadDate)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.ImgPath)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.ImgPath)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.WaterMeterImg)
            </dt>
            <dd class="Details-dd-image">
                <a target="_blank" href="@Url.Content("~/" + @ViewData["ImgPath"].ToString())">
                    <img src="@Url.Content("~/" + @ViewData["ImgPath"].ToString())" alt="ERROR" class="ImageContainer" />
                </a>
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.WaterMeterID" class="create-button" >Edit</a>
    <a class="create-button-2" asp-controller="ManagerOverview" asp-action="Index">Back to List</a>
</div>
