@model ViewModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Manager Overview";
}


<!--ManagerOverview-->

<h1 class="Page-generic-headline">Overview</h1>

<aside>
    <h2>Welcome!</h2>
    <ul>
        <li>On this page you will automatically see all the registered transactions related to your account.<hr /></li>
        <li>For transaction create and other services you can toggle the nav bar on the top of your screen.<hr /></li>
        <li>We wish you a happy staying and a nice day.<br /><hr /></li>
        <li style="text-align:right;">The <span style="color:red; font-weight:bold;">H</span><span style="color:white; font-weight:bold">olders</span> team</li>
    </ul>
</aside>

@if (Context.Session.GetString("IsAdmin").Equals("true"))
{
    <a class="Search-button" asp-action="SearchAndResult">Search <i class="fas fa-search"></i></a>

    <div class="ManagerOverviewPageWrapper" style="margin-bottom:2%">
        <h3>Registered Users List</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        User ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Enterance Date
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Street
                    </th>
                    <th>
                        Street Number
                    </th>
                    <th>
                        Apartment Number
                    </th>
                    <th>
                        Is Admin
                    </th>
                    <th>
                        User Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (User user in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.EnteranceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.PropertyCity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.PropertyStreet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.PropertyStreetNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.ApartmentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.IsAdmin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.UserName)
                        </td>
                        <td class="OverviewActions">
                            <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.UserID">Edit <i class="far fa-edit"></i></a> |
                            <a asp-controller="Users" asp-action="Details" asp-route-id="@user.UserID">Details <i class="fas fa-info"></i></a> |
                            <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.UserID">Delete <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="clear28"></div>
}

@if (Context.Session.GetString("IsAdmin").Equals("true"))
{
 <h1 class="Page-generic-headline">All Listed Transactions</h1>

}

<div class="ManagerOverviewPageWrapper">
    <h3>Registered Water Transactions</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Water Meter ID
                </th>
                <th>
                    Water Meter Last Read Date
                </th>
                <th>
                    Image File Path
                </th>
                <th>
                    User ID
                </th>
                <th style="text-align:right">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (WaterTransaction transaction in Model.WaterTransactions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.WaterMeterID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.WaterMeterLastReadDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.ImgPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.User.UserID)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => transaction.Status)
                    </td>
                    <td class="OverviewActions">
                        <a asp-controller="WaterTransactions" asp-action="Edit" asp-route-id="@transaction.WaterMeterID">Edit <i class="far fa-edit"></i></a> |
                        <a asp-controller="WaterTransactions" asp-action="Details" asp-route-id="@transaction.WaterMeterID">Details <i class="fas fa-info"></i></a> |
                        <a asp-controller="WaterTransactions" asp-action="Edit" asp-route-id="@transaction.WaterMeterID">Delete <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="clear28"></div>

    <h3>Registered Electricity Transactions</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Electricity Meter ID
                </th>
                <th>
                    Electricity Meter Last Read Date
                </th>
                <th>
                    Image File Path
                </th>
                <th>
                    User ID
                </th>
                <th style="text-align:right">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ElectricityTransaction transaction in Model.ElectricityTransaction)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.ElectricityMeterID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.ElectricityMeterLastRead)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.ImgPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.User.UserID)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => transaction.Status)
                    </td>
                    <td class="OverviewActions">
                        <a asp-controller="ElectricityTransactions" asp-action="Edit" asp-route-id="@transaction.ElectricityMeterID">Edit <i class="far fa-edit"></i></a> |
                        <a asp-controller="ElectricityTransactions" asp-action="Details" asp-route-id="@transaction.ElectricityMeterID">Details <i class="fas fa-info"></i></a> |
                        <a asp-controller="ElectricityTransactions" asp-action="Edit" asp-route-id="@transaction.ElectricityMeterID">Delete <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="clear28"></div>

    <h3>Registered Proprty Tax Transactions</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Property ID
                </th>
                <th>
                    Image File Path
                </th>
                <th>
                    User ID
                </th>
                <th style="text-align:right">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (PropertyTaxTransaction transaction in Model.PropertyTaxTransactions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.PropertyID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.ImgPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transaction.User.UserID)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => transaction.Status)
                    </td>
                    <td class="OverviewActions">
                        <a asp-controller="PropertyTaxTransactions" asp-action="Edit" asp-route-id="@transaction.PropertyID">Edit <i class="far fa-edit"></i></a> |
                        <a asp-controller="PropertyTaxTransactions" asp-action="Details" asp-route-id="@transaction.PropertyID">Details <i class="fas fa-info"></i></a> |
                        <a asp-controller="PropertyTaxTransactions" asp-action="Edit" asp-route-id="@transaction.PropertyID">Delete <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <div class="clear28"></div>

    <h3>Contact Applications</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Application ID
                </th>
                <th>
                    Client ID
                </th>
                <th>
                    Transaction Type
                </th>
                <th>
                    Title
                </th>
                <th>
                    Meesage
                </th>
                <th>
                    Creation Date
                </th>
                <th style="text-align:right">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ContactApplication application in Model.ContactApplications)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => application.ContactAppID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => application.UserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => application.ContactType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => application.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => application.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => application.CreateDate)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => application.Status)
                    </td>
                    <td class="OverviewActions">
                        <a asp-controller="ContactApplications" asp-action="Edit" asp-route-id="@application.ContactAppID">Edit <i class="far fa-edit"></i> </a> |
                        <a asp-controller="ContactApplications" asp-action="Details" asp-route-id="@application.ContactAppID">Details <i class="fas fa-info"></i></a> |
                        <a asp-controller="ContactApplications" asp-action="Edit" asp-route-id="@application.ContactAppID">Delete <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="clear28"></div>
</div>