@model ViewModel

@{
    ViewData["Title"] = "Manager Overview";
}

<h1>Manager Overview:</h1>

<h3>Registered Users List:</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email Address
            </th>
            <th>
                Enterance Date
            </th>
            <th>
                City
            </th>
            <th>
                Street
            </th>
            <th>
                Street Number
            </th>
            <th>
                Apartment Number
            </th>
            <th>
                Is Admin
            </th>
            <th>
                User Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model.Users)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.EnteranceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.PropertyCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.PropertyStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.PropertyStreetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.ApartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.UserID">Edit</a> |
                <a asp-controller="Users" asp-action="Details" asp-route-id="@user.UserID">Details</a> |
                <a asp-controller="Users" asp-action="Delete" asp-route-id="@user.UserID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<h3>Registered Water Transactions:</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Water Meter ID
            </th>
            <th>
                Water Meter Last Read Date
            </th>
            <th>
                Image File Path
            </th>
            <th>
                User ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (WaterTransaction transaction in Model.WaterTransactions)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => transaction.WaterMeterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.WaterMeterLastReadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.ImgPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.User.UserID)
            </td>
            <td>
                <a asp-controller="WaterTransactions" asp-action="Edit" asp-route-id="@transaction.WaterMeterID">Edit</a> |
                <a asp-controller="WaterTransactions" asp-action="Details" asp-route-id="@transaction.WaterMeterID">Details</a> |
                <a asp-controller="WaterTransactions" asp-action="Delete" asp-route-id="@transaction.WaterMeterID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<h3>Registered Electricity Transactions:</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Electricity Meter ID
            </th>
            <th>
                Electricity Meter Last Read Date
            </th>
            <th>
                Image File Path
            </th>
            <th>
                User ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ElectricityTransaction transaction in Model.ElectricityTransaction)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => transaction.ElectricityMeterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.ElectricityMeterLastRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.ImgPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.User.UserID)
            </td>
            <td>
                <a asp-controller="ElectricityTransactions" asp-action="Edit" asp-route-id="@transaction.ElectricityMeterID">Edit</a> |
                <a asp-controller="ElectricityTransactions" asp-action="Details" asp-route-id="@transaction.ElectricityMeterID">Details</a> |
                <a asp-controller="ElectricityTransactions" asp-action="Delete" asp-route-id="@transaction.ElectricityMeterID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

