
<h1 class="Page-generic-headline">Transaction Predictions:</h1>

<div class="ManagerOverviewPageWrapper">

    <p class="predictions">Listed below is the amount of users predicted to change their apartment in next year's Q1, divided by month:</p>

    <h3>January @ViewData["NextYearNumber"]: @ViewData["In1MonthsFromNowForecast"] Entrances</h3>
    <h3>February @ViewData["NextYearNumber"]: @ViewData["In2MonthsFromNowForecast"] Entrances</h3>
    <h3>March @ViewData["NextYearNumber"]: @ViewData["In3MonthsFromNowForecast"] Entrances</h3>


</div>

