<h1>Amount Of Users Entrance Predication For Next Year's First Three Months:</h1>

<h3>January @ViewData["NextYearNumber"]: @ViewData["In1MonthsFromNowForecast"] Entrances.</h3>
<h3>February @ViewData["NextYearNumber"]: @ViewData["In2MonthsFromNowForecast"] Entrances.</h3>
<h3>March @ViewData["NextYearNumber"]: @ViewData["In3MonthsFromNowForecast"] Entrances.</h3>
