@model ViewModel

@{
    ViewData["Title"] = "Search And Stats";
}

<a asp-action="Stats">Overall Stats, Press Here</a>
<br>

@if (ViewData["AfterSearch"].Equals(false))
{
    // Join TESTS:
    var results = ViewData["JoinResults"] as IEnumerable<int>;

    if (results != null)
    {
        foreach (var current in results)
        {
            <p>@current</p>
        }
    }

<div>
    <h2>Search Type:</h2>
    <input type="radio" id="SearchTypeSimple" name="SearchType" checked>
    <label for="SearchTypeSimple">Single Model Search</label>

    <input type="radio" id="SearchTypeJoin" name="SearchType">
    <label for="SearchTypeJoin">Multiple Models Search</label>

    <input type="radio" id="SearchUserAdvanced" name="SearchType">
    <label for="SearchUserAdvanced">Advanced user Search</label>
</div>


    <form asp-action="SearchAndResult" id="SingleSearchForm">
        <h1>Search By Catagory:</h1>
        <h3>Search For:</h3>

        <input type="radio" id="User" name="SearchDB" value="User"
               checked>
        <label for="User">User</label> <br>

        <input type="radio" id="WaterTransaction" name="SearchDB" value="WaterTransaction">
        <label for="WaterTransaction">Water Transaction</label> <br>

        <input type="radio" id="ElectricityTransaction" name="SearchDB" value="ElectricityTransaction">
        <label for="ElectricityTransaction">Electricity Transaction</label> <br>

        <input type="radio" id="PropertyTaxTransaction" name="SearchDB" value="PropertyTaxTransaction">
        <label for="PropertyTaxTransaction">Property Tax Transaction</label> <br>

        <input type="radio" id="ContactApplications" name="SearchDB" value="ContactApplication">
        <label for="ContactApplications">Contact Applications</label> <br>

        <div id="UserCatagories">
            <h5>Where:</h5>

            <input type="radio" id="UserID" name="SearchCatagory" value="UserID"
                   checked>
            <label for="UserID"><i>ID</i></label>

            <input type="radio" id="UserFirstName" name="SearchCatagory" value="FirstName">
            <label for="UserFirstName"><i>First Name</i></label>

            <input type="radio" id="UserLastName" name="SearchCatagory" value="LastName">
            <label for="UserLastName"><i>Last Name</i></label>

            <input type="radio" id="UserEmail" name="SearchCatagory" value="Email">
            <label for="User"><i>Email Address</i></label>

            <input type="radio" id="UserCity" name="SearchCatagory" value="City">
            <label for="UserCity"><i>City</i></label>

            <input type="radio" id="UserStreet" name="SearchCatagory" value="Street">
            <label for="UserStreet"><i>Street</i></label>

            <input type="radio" class="dateInput" id="EnteranceDate" name="SearchCatagory" value="EnteranceDate">
            <label for="EnteranceDate"><i>Enterance Date</i></label>

            <input type="radio" class="hideTextFieldWhenSelected" id="IsAdmin" name="SearchCatagory" value="IsAdmin">
            <label for="IsAdmin"><i>Admins</i></label>
        </div>


        <div id="WaterTransactionCatagories">
            <h5>Where:</h5>

            <input type="radio" id="WaterID" name="SearchCatagory" value="UserID"
                   checked>
            <label for="WaterID"><i>User ID</i></label>

            <input type="radio" id="WaterMeterID" name="SearchCatagory" value="WaterMeterID">
            <label for="WaterMeterID"><i>Water Meter ID</i></label>

            <input type="radio" class="dateInput" id="WaterMeterLastReadDate" name="SearchCatagory" value="WaterMeterLastReadDate">
            <label for="WaterMeterLastReadDate"><i>Last Read Date</i></label>

            <input type="radio" class="hideTextFieldWhenSelected" id="WaterTransactionStatus" name="SearchCatagory" value="Status">
            <label for="WaterTransactionStatus">Status</label>
            <select id="WaterTransactionStatusDropDown" name="wantedStatusWater">
                <option value=@Config.TransactionStatus.Open>Open</option>
                <option value=@Config.TransactionStatus.Closed>Closed</option>
            </select>
        </div>


        <div id="ElectricityTransactionCatagories">
            <h5>Where:</h5>

            <input type="radio" id="UserID" name="SearchCatagory" value="UserID"
                   checked>
            <label for="ElectricityID"><i>User ID</i></label>

            <input type="radio" id="ElectricityMeterID" name="SearchCatagory" value="ElectricityMeterID">
            <label for="ElectricityMeterID"><i>Electricity Meter ID</i></label>

            <input type="radio" class="dateInput" id="ElectricityMeterLastRead" name="SearchCatagory" value="ElectricityMeterLastRead">
            <label for="ElectricityMeterLastRead"><i>Last Read Date</i></label>

            <input type="radio" class="hideTextFieldWhenSelected" id="ElectricityTransactionStatus" name="SearchCatagory" value="Status">
            <label for="ElectricityTransactionStatus">Status</label>
            <select id="ElectricityTransactionStatusDropDown" name="wantedStatusElectricity">
                <option value=@Config.TransactionStatus.Open>Open</option>
                <option value=@Config.TransactionStatus.Closed>Closed</option>
            </select>
        </div>

        <div id="PropertyTaxTransactionCatagories">
            <h5>Where:</h5>

            <input type="radio" id="PropertyUserID" name="SearchCatagory" value="UserID"
                   checked>
            <label for="PropertyUserID"><i>User ID</i></label>

            <input type="radio" id="PropertyTaxTransactionID" name="SearchCatagory" value="PropertyID">
            <label for="PropertyTaxTransactionID"><i>Property ID</i></label>

            <input type="radio" class="hideTextFieldWhenSelected" id="PropertyTaxTransactionStatus" name="SearchCatagory" value="Status">
            <label for="PropertyTaxyTransactionStatus">Status</label>
            <select id="PropertyTaxTransactionStatusDropDown" name="wantedStatusPropertyTax">
                <option value=@Config.TransactionStatus.Open>Open</option>
                <option value=@Config.TransactionStatus.Closed>Closed</option>
            </select>
        </div>

        <div id="ContactApplicationCatagories">
            <h5>Where:</h5>

            <input type="radio" id="UserID" name="SearchCatagory" value="UserID"
                   checked>
            <label for="UserID"><i>User ID</i></label>

            <input type="radio" id="ApplicationID" name="SearchCatagory" value="ApplicationID">
            <label for="ApplicationID"><i>Application ID</i></label>

            <input type="radio" id="ApplicationTitle" name="SearchCatagory" value="ApplicationTitle">
            <label for="ApplicationTitle"><i>Title</i></label>

            <input type="radio" id="ApplicationMessage" name="SearchCatagory" value="ApplicationMessage">
            <label for="ApplicationMessage"><i>Message</i></label>

            <input type="radio" class="dateInput" id="CreationDate" name="SearchCatagory" value="CreationDate">
            <label for="CreationDate"><i>Creation Date</i></label>

            <input type="radio" class="hideTextFieldWhenSelected" id="ApplicationType" name="SearchCatagory" value="ApplicationType">
            <label for="ApplicationType">Transaction Type</label>

            <select id="ApplicationTypeDropDown" name="ContactType">
                <option value=@Config.ContactAppType.WaterTransaction>Water Transaction</option>
                <option value=@Config.ContactAppType.ElectricityTransaction>Electricity Transaction</option>
                <option value=@Config.ContactAppType.PropertyTaxTransaction>Property Tax Transaction</option>
            </select>

            <input type="radio" class="hideTextFieldWhenSelected" id="ApplicationStatus" name="SearchCatagory" value="Status">
            <label for="ApplicationStatus">Status</label>

            <select id="ApplicationStatusDropDown" name="wantedStatusContactApp">
                <option value=@Config.TransactionStatus.Open>Open</option>
                <option value=@Config.TransactionStatus.Closed>Closed</option>
            </select>
        </div>

        <div id="SearchContainer">
            <b>Contains:</b> <br>
            <input type="search" id="SearchInput" placeholder="Key Word" name="SearchKeyWord" required />
        </div>

        <input type="submit" value="Search" />
    </form>

    <form asp-action="JoinSearchAndResult" id="JoinSearchForm">
        <h3>Search For Users By Transaction's Type And Status:</h3>
        <input type="checkbox" id="WaterCheckBox" name="WaterCheckBox" value="true" class="WantedTransactionChangedTrigger">
        <label for="WaterCheckBox">Water Transaction</label><br>
        <div id="WaterJoinApplicationStatusDropDown">
            <label for="WaterJoinApplicationStatusDropDown">With Status: </label>
            <select name="WaterwantedStatus">
                <option value=@Config.TransactionStatus.Open>Open</option>
                <option value=@Config.TransactionStatus.Closed>Closed</option>
            </select>
        </div>
        <input type="checkbox" id="ElectricityCheckBox" name="ElectricityCheckBox" value="true" class="WantedTransactionChangedTrigger">
        <label for="ElectricityCheckBox">Electricity Transaction</label><br>
        <div id="ElectricityJoinApplicationStatusDropDown">
            <label for="ElectricityJoinApplicationStatusDropDown">With Status: </label>
            <select name="ElectricitywantedStatus">
                <option value=@Config.TransactionStatus.Open>Open</option>
                <option value=@Config.TransactionStatus.Closed>Closed</option>
            </select>
        </div>
        <input type="checkbox" id="PropertyTaxCheckBox" name="PropertyTaxCheckBox" value="true" class="WantedTransactionChangedTrigger">
        <label for="PropertyTaxCheckBox">Property Tax Transaction</label><br>
        <div id="PropertyTaxJoinApplicationStatusDropDown">
            <label for="PropertyTaxJoinApplicationStatusDropDown">With Status: </label>
            <select name="PropertyTaxwantedStatus">
                <option value=@Config.TransactionStatus.Open>Open</option>
                <option value=@Config.TransactionStatus.Closed>Closed</option>
            </select>
        </div>

        <input type="submit" value="Search" />
    </form>

    <form asp-action="UsersAdvancedSearch" id="UsersAdvancedSearchForm">
        <h3>Search For Users By Parameters:</h3>
        <input type="checkbox" id="FirstNameCheckBox" name="FirstNameCheckBox" value="true" class="WantedUserParameterChangedTrigger">
        <label for="FirstNameCheckBox">First Name</label><br>
        <div id="UserFirstNameTextBoxDiv">
            <label for="wantedFirstName">Contains: </label>
            <input type="text" name="wantedFirstName" id="UserFirstNameTextBox" />
        </div>
        <input type="checkbox" id="LastNameCheckBox" name="LastNameCheckBox" value="true" class="WantedUserParameterChangedTrigger">
        <label for="LastNameCheckBox">Last Name</label><br>
        <div id="UserLastNameTextBoxDiv">
            <label for="wantedLastName">Contains: </label>
            <input type="text" name="wantedLastName" id="UserLastNameTextBox" />
        </div>
        <input type="checkbox" id="CityNameCheckBox" name="CityCheckBox" value="true" class="WantedUserParameterChangedTrigger">
        <label for="CityCheckBox">Property City</label><br>
        <div id="UserCityNameTextBoxDiv">
            <label for="wantedCity">Contains: </label>
            <input type="text" name="wantedCity" id="UserCityNameTextBox" />
        </div>

        <input type="submit" value="Search" id="UserAdvancedSearchButton"/>
    </form>
}

@if (ViewData["AfterSearch"].Equals(true))
{
    <a asp-action="SearchAndResult">Change Search Parameters Here</a>

    @if (Model.Users != null)
    {
        <h3>Users Results:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        User ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Enterance Date
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Street
                    </th>
                    <th>
                        Street Number
                    </th>
                    <th>
                        Apartment Number
                    </th>
                    <th>
                        Is Admin
                    </th>
                    <th>
                        User Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (User user in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.EnteranceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.PropertyCity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.PropertyStreet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.PropertyStreetNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.ApartmentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.IsAdmin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.UserName)
                        </td>
                        <td>
                            <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.UserID">Edit</a> |
                            <a asp-controller="Users" asp-action="Details" asp-route-id="@user.UserID">Details</a> |
                            <a asp-controller="Users" asp-action="Delete" asp-route-id="@user.UserID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.WaterTransactions != null)
    {
        <h3>Water Transactions Results:</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Water Meter ID
                    </th>
                    <th>
                        Water Meter Last Read Date
                    </th>
                    <th>
                        Image File Path
                    </th>
                    <th>
                        User ID
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (WaterTransaction transaction in Model.WaterTransactions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.WaterMeterID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.WaterMeterLastReadDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.ImgPath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.User.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.Status)
                        </td>
                        <td>
                            <a asp-controller="WaterTransactions" asp-action="Edit" asp-route-id="@transaction.WaterMeterID">Edit</a> |
                            <a asp-controller="WaterTransactions" asp-action="Details" asp-route-id="@transaction.WaterMeterID">Details</a> |
                            <a asp-controller="WaterTransactions" asp-action="Delete" asp-route-id="@transaction.WaterMeterID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.ElectricityTransaction != null)
    {
        <h3>Electricity Transactions Results:</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Electricity Meter ID
                    </th>
                    <th>
                        Electricity Meter Last Read Date
                    </th>
                    <th>
                        Image File Path
                    </th>
                    <th>
                        User ID
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ElectricityTransaction transaction in Model.ElectricityTransaction)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.ElectricityMeterID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.ElectricityMeterLastRead)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.ImgPath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.User.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.Status)
                        </td>
                        <td>
                            <a asp-controller="ElectricityTransactions" asp-action="Edit" asp-route-id="@transaction.ElectricityMeterID">Edit</a> |
                            <a asp-controller="ElectricityTransactions" asp-action="Details" asp-route-id="@transaction.ElectricityMeterID">Details</a> |
                            <a asp-controller="ElectricityTransactions" asp-action="Delete" asp-route-id="@transaction.ElectricityMeterID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.PropertyTaxTransactions != null)
    {
        <h3>Electricity Transactions Results:</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Property ID
                    </th>
                    <th>
                        Image File Path
                    </th>
                    <th>
                        User ID
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (PropertyTaxTransaction transaction in Model.PropertyTaxTransactions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.PropertyID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.ImgPath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.User.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.Status)
                        </td>
                        <td>
                            <a asp-controller="ElectricityTransactions" asp-action="Edit" asp-route-id="@transaction.PropertyID">Edit</a> |
                            <a asp-controller="ElectricityTransactions" asp-action="Details" asp-route-id="@transaction.PropertyID">Details</a> |
                            <a asp-controller="ElectricityTransactions" asp-action="Delete" asp-route-id="@transaction.PropertyID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.ContactApplications != null)
    {
        <h3>Electricity Transactions Results:</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Application ID
                    </th>
                    <th>
                        User ID
                    </th>
                    <th>
                        Transaction Type
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Creation Date
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ContactApplication app in Model.ContactApplications)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => app.ContactAppID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => app.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => app.ContactType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => app.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => app.Message)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => app.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => app.Status)
                        </td>
                        <td>
                            <a asp-controller="ElectricityTransactions" asp-action="Edit" asp-route-id="@app.ContactAppID">Edit</a> |
                            <a asp-controller="ElectricityTransactions" asp-action="Details" asp-route-id="@app.ContactAppID">Details</a> |
                            <a asp-controller="ElectricityTransactions" asp-action="Delete" asp-route-id="@app.ContactAppID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

<script>
    $(document).ready(function () { // Init page state
        $('#WaterTransactionCatagories').hide();
        $('#JoinSearchForm').hide();
        $('#ElectricityTransactionCatagories').hide();
        $('#PropertyTaxTransactionCatagories').hide();
        $('#ContactApplicationCatagories').hide();
        $('#WaterJoinApplicationStatusDropDown').hide();
        $('#ElectricityJoinApplicationStatusDropDown').hide();
        $('#PropertyTaxJoinApplicationStatusDropDown').hide();
        $('#UsersAdvancedSearchForm').hide();
        $('#UserFirstNameTextBoxDiv').hide();
        $('#UserLastNameTextBoxDiv').hide();
        $('#UserCityNameTextBoxDiv').hide();
    })

    $(document).ready(function () { // Change Search Type
        $(':radio').click(function () {
            if ($('#SearchTypeSimple').is(':checked')) {
                $('#SingleSearchForm').show();
                $('#JoinSearchForm').hide();
                $('#UsersAdvancedSearchForm').hide();
            } else if ($('#SearchTypeJoin').is(':checked')) { 
                $('#SingleSearchForm').hide();
                $('#JoinSearchForm').show();
                $('#UsersAdvancedSearchForm').hide();
            } else if ($('#SearchUserAdvanced').is(':checked')) { // Means #SearchUserAdvanced is checked
                $('#SingleSearchForm').hide();
                $('#JoinSearchForm').hide();
                $('#UsersAdvancedSearchForm').show();
            }
        });
    })


    $(document).ready(function () { // Change User Parameter checked in Join Search Type
        $('.WantedUserParameterChangedTrigger').change(function() {
            if ($('#FirstNameCheckBox').is(':checked')) {
                $('#UserFirstNameTextBoxDiv').show();
                $("#UserFirstNameTextBox").prop('required', true);    
            } else {
                $('#UserFirstNameTextBoxDiv').hide();
                $("#UserFirstNameTextBox").prop('required', false);       
            }

            if ($('#LastNameCheckBox').is(':checked')) {
                $('#UserLastNameTextBoxDiv').show();
                $("#UserLastNameTextBox").prop('required', true);     
            } else {
                $('#UserLastNameTextBoxDiv').hide();
                $("#UserLastNameTextBox").prop('required', false);  
            }

            if ($('#CityNameCheckBox').is(':checked')) {
                $('#UserCityNameTextBoxDiv').show();
                $("#UserCityNameTextBox").prop('required', true);       
            } else {
                $('#UserCityNameTextBoxDiv').hide();
                $("#UserCityNameTextBox").prop('required', false);     
            }
        });
    })

    $('#UserAdvancedSearchButton').click(function (event) {
        if (($('#FirstNameCheckBox').is(':checked')) && ($("#UserFirstNameTextBox").val().trim() == '')) {
            alert('First Name Field Is Checked But Empty. Uncheck This Field / Add Value');
            event.preventDefault();
        }

        if (($('#LastNameCheckBox').is(':checked')) && ($("#UserLastNameTextBox").val().trim() == '')) {
            alert('Last Name Field Is Checked But Empty. Uncheck This Field / Add Value');
            event.preventDefault();
        }

        if (($('#CityNameCheckBox').is(':checked')) && ($("#UserCityNameTextBox").val().trim() == '')) {
            alert('Property City Field Is Checked But Empty. Uncheck This Field / Add Value');
            event.preventDefault();
        }
    })

    $(document).ready(function () { // Change Transaction checked in Join Search Type
        $('.WantedTransactionChangedTrigger').change(function() {
            if ($('#WaterCheckBox').is(':checked')) {
                $('#WaterJoinApplicationStatusDropDown').show();
            } else {
                $('#WaterJoinApplicationStatusDropDown').hide();
            }

            if ($('#ElectricityCheckBox').is(':checked')) {
                $('#ElectricityJoinApplicationStatusDropDown').show();
            } else {
                $('#ElectricityJoinApplicationStatusDropDown').hide();
            }

            if ($('#PropertyTaxCheckBox').is(':checked')) {
                $('#PropertyTaxJoinApplicationStatusDropDown').show();
            } else {
                $('#PropertyTaxJoinApplicationStatusDropDown').hide();
            }
        });
    })

    $(document).ready(function () { // Single Model Search view
        $(':radio').click(function () {
            if ($('#User').is(':checked')) {
                $('#UserCatagories').show();
                $('#WaterTransactionCatagories').hide();
                $('#ElectricityTransactionCatagories').hide();
                $('#PropertyTaxTransactionCatagories').hide();
                $('#ContactApplicationCatagories').hide();
            } else if ($('#WaterTransaction').is(':checked')) {
                $('#UserCatagories').hide();
                $('#WaterTransactionCatagories').show();
                $('#ElectricityTransactionCatagories').hide();
                $('#PropertyTaxTransactionCatagories').hide();
                $('#ContactApplicationCatagories').hide();
                if ($('#WaterTransactionStatus').is(':checked')) {
                    $('#WaterTransactionStatusDropDown').show();
                } else {
                    $('#WaterTransactionStatusDropDown').hide();
                }
            } else if ($('#ElectricityTransaction').is(':checked')) {
                $('#UserCatagories').hide();
                $('#WaterTransactionCatagories').hide();
                $('#ElectricityTransactionCatagories').show();
                $('#PropertyTaxTransactionCatagories').hide();
                $('#ContactApplicationCatagories').hide();
                if ($('#ElectricityTransactionStatus').is(':checked')) {
                    $('#ElectricityTransactionStatusDropDown').show();
                } else {
                    $('#ElectricityTransactionStatusDropDown').hide();
                }
            } else if ($('#PropertyTaxTransaction').is(':checked')) {
                $('#UserCatagories').hide();
                $('#WaterTransactionCatagories').hide();
                $('#ElectricityTransactionCatagories').hide();
                $('#PropertyTaxTransactionCatagories').show();
                $('#ContactApplicationCatagories').hide();
                if ($('#PropertyTaxTransactionStatus').is(':checked')) {
                    $('#PropertyTaxTransactionStatusDropDown').show();
                } else {
                    $('#PropertyTaxTransactionStatusDropDown').hide();
                }
            } else { // Means ContactApplication is checked
                $('#UserCatagories').hide();
                $('#WaterTransactionCatagories').hide();
                $('#ElectricityTransactionCatagories').hide();
                $('#PropertyTaxTransactionCatagories').hide();
                $('#ContactApplicationCatagories').show();
                if ($('#ApplicationType').is(':checked')) {
                    $('#ApplicationTypeDropDown').show();
                } else {
                    $('#ApplicationTypeDropDown').hide();
                }
                if ($('#ApplicationStatus').is(':checked')) {
                    $('#ApplicationStatusDropDown').show();
                } else {
                    $('#ApplicationStatusDropDown').hide();
                }
            }
        })
    })

    $(document).ready(function () { // Hide text field when search not uses it
        $(':radio').click(function () {
            if ($('.hideTextFieldWhenSelected').is(':checked')) {
                $('#SearchContainer').hide();
                $('#SearchInput').prop('required', false);
            } else {
                $('#SearchContainer').show();
                $('#SearchInput').prop('required', true);
            }
        })
    })


    $(document).ready(function () { // If Date input is selected
        $(':radio').click(function () {
            if ($('.dateInput').is(':checked')) {
                $('#SearchInput').prop('type', 'date');
            } else {
                $('#SearchInput').prop('type', 'text');
            }
        })
    })

</script>

