@model WebAppProject.Models.PropertyTaxTransaction

@{
    ViewData["Title"] = "Details";
}

<!--Property tax Transaction-->

<h1 class="Page-generic-headline">Property Tax Details</h1>

<div class="ManagerOverviewPageWrapper">
    <div>
        <dl>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.UserID)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.UserID)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.PropertyID)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.PropertyID)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.ImgPath)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.ImgPath)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.PropertyTaxContractImg)
            </dt>
            <dd class="Details-dd">
                <img src="@Url.Content("~/" + @ViewData["ImgPath"].ToString())" alt="error" style="width:70%;height:auto" />
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.PropertyID" class="create-button">Edit</a>
    <a class="create-button-2" asp-controller="ManagerOverview" asp-action="Index">Back to List</a>
</div>
