@model WebAppProject.Models.ContactApplication

@{
    ViewData["Title"] = "Details";
}

<!--Contact Application-->


<h1 class="Page-generic-headline">Contact Application Info</h1>>

<div class="ManagerOverviewPageWrapper" style="height:900px;">
    <div>
        <dl>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.ContactAppID)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.ContactAppID)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.ContactType)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.ContactType)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.Message)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.UserID)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.UserID)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="Details-dd">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="Details-dt">
                @Html.DisplayNameFor(model => model.Img)
            </dt>
            @if (ViewData["ImgPath"].ToString().Equals("No Image Attached"))
            {
                <dd class="Details-dd-image">
                    <div>No image attached to this application</div>
                </dd>
            }
            else
            {
                <dd class="Details-dd-image">
                    <a target="_blank" href="@Url.Content("~/" + @ViewData["ImgPath"].ToString())">
                        <img src="@Url.Content("~/" + @ViewData["ImgPath"].ToString())" alt="ERROR" class="ImageContainer" />
                    </a>
                </dd>
            }
            <!--Complete-->
        </dl>
    </div>
</div>
<div>
    <a class="create-button" asp-action="Edit" asp-route-id="@Model.ContactAppID">Edit</a>
    <a class="create-button-2" asp-controller="ManagerOverview" asp-action="Index">Back to List</a>
</div>
