@model WebAppProject.Models.ContactApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact Application Info:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactAppID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactAppID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
            @if (ViewData["ImgPath"].ToString().Equals("No Image Attached"))
            {
                <dd class="col-sm-10">
                    <div>No image attached to this application</div>
                </dd>
            }
            else
            {
                <dd class="Details-dd-image">
                    <a target="_blank" href="@Url.Content("~/" + @ViewData["ImgPath"].ToString())">
                        <img src="@Url.Content("~/" + @ViewData["ImgPath"].ToString())" alt="ERROR" class="ImageContainer" />
                    </a>
                </dd>
            }
        <!--Complete-->
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactAppID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
