@model IEnumerable<WebAppProject.Models.ContactApplication>

@{
    ViewData["Title"] = "Index";
}


<!--My Contact Applications-->

<h1 class="Page-generic-headline">My Contact Applications</h1>

<a  class="Search-button" asp-action="Create">New Application</a>

<div class="ManagerOverviewPageWrapper">
    <h3>Registered Applications</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImgPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImgPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="OverviewActions">
                        <a asp-action="Edit" asp-route-id="@item.ContactAppID">Edit <i class="far fa-edit"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.ContactAppID">Details <i class="fas fa-info"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.ContactAppID">Delete <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <img class="CRUD_Images" src="~/FrontEndElements/DefaultOverview/application-project.jpg" alt="Application Form" />

</div>

